@import url("https://fonts.googleapis.com/css2?fam ly=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

/*--------General--*/
html{
scroll-behavior:smooth;
}

*{
font-size:10px;
}
/*--------Background Images & Videos--*/

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 50%;
  margin: auto;
  width: 100vw;
  height: auto;
  overflow-x:hidden;
  object-fit: cover;
}
.bg {
    background-image: url("images/elephant.jpg");
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    background-repeat: no-repeat;
    background-position: center;
}
 .bgbook {
    background-image: url("images/tribe.jpg");
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    width: 100vw;
    overflow-x:hidden;
    background-repeat: no-repeat;
    background-position: center;
}

/*--------Nav--*/
#mainNav{
    background-color: rgba(100,91,84,.5);
    font-family: "Nunito Sans", sans-serif;
}
.navbar-brand{
    font-size:3rem; 
    color:#40493E; 
    border-radius:10px;
}
.navbar-light .navbar-brand {
    color: #D2D2C6;
    font-weight: 500px;
}
.navbar-nav li a{
    font-size:2rem; 
    color:#D2D2C6; 
    margin-left: 1px;
    font-weight: 500px;
}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

/*--------Home Section--*/
.heading-title {
    font-size: 5rem;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    padding-top: 20px;
}
 #landingPage{
    height: 500px;
 }

#home {
   margin-top:300px;
   margin-bottom: 300px;
}
.main-title{
    max-width: 600px;
    margin: auto;
    color: #72836F;
    font-weight: 200;
}
.title{
    font-size: 4rem;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    width: 100%;
    text-align:center;
    position:relative;
    background-color: rgba(100,91,84,.5);
    color: #D2D2C6;
}
h1.websiteName {
  border: 0.5rem solid #72836F;
}
.websitesubName{
    font-size: 2rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    color: #D2D2C6;
    text-transform: uppercase;
    width: 100%;
    text-align:center;
    position:relative;
    background-color: rgba(100,91,84,.5);
}
.section-area{
  text-decoration: none;
  position: relative;
  text-align: center;
  
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 90px;
}

/*--------About Us--*/
.heading-title {
    font-size: 5rem;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color:#72836F;
    margin-bottom: 50px;
}
.aboutus-area{
  text-decoration: none;
  position: relative;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 50px;
}
.abouttext-section {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: center, justify;
    color:#D2D2C6;
}
#recommended-section{
    margin-top: 0px;
}
.image-recommended{
    height:20rem;  
    border-radius: 50%;  
    margin-top: 50px;
}
.container-fluid{
    max-width:800px;    
    margin: auto;
    padding-bottom: 20px;
}
#images{  
    margin-top: 90px;
}

/*--------Activities--*/
.activitytext-section {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: left;
    color:#D2D2C6;
    margin-bottom: 100px;
    margin-top: 200px;
}
.activitytext1-section
{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: left;
    color:#D2D2C6;
    margin-bottom: 50px;
    margin-top: 0px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin: 0;
}
#textslide {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: left, justify;
    color:#D2D2C6;
    margin-bottom: 100px;
    margin-top: 0;
    font-style: italic;
}
b, strong {
    font-weight: bolder;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    text-align: left, justify;
    color:#D2D2C6;
    margin-bottom: 100px;
    margin-top: 200px;
}
.section-column .read-more a{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: left, justify;
    color:#D2D2C6;
}
.read-more{
  margin-bottom: 50px;
}
/*--------Arrow shortcut--*/
.icon-scroll {
  text-align: center;
  color: #DDBEA9;
  font-size: 2rem;
  margin-top: 3rem;
  text-decoration: none;
}
.icon-scroll:hover {
  text-decoration: none;
  color: #CB997E;
}
.icon-scroll:hover::before {
  content: "scroll";
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
  padding-right: 1rem;
}
.icon-scroll:hover::after {
  content: "down";
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
  padding-left: 1rem;
}
/*--------Map Section--*/
.heading-title {
    font-size: 5rem;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    color:#D2D2C6;
    text-align: center;
}
div#map {
    height:50rem;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position:relative;
    overflow:hidden;
    object-position: center;
}
#map-section {
    margin-top: 90px;
}
#map {
    height: 100%;
    margin-bottom: 50px;
}
/*-------------Carousel--*/

.carousel-item img{
width: 100%;
height: 500px;
}
/*--------Table--*/

.table{
font-size: 20px;
color: #72836F;
}
/*--------Contact Form--*/

.text-section {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: left, justify;
}
.footer-title {
  font-size:3rem;  
  font-weight:400;
}
small{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}
textarea#message{
    line-height: 2rem;
    font-size: 1.5rem;
}
#contact-section{
  margin-bottom: 0;
  padding-bottom: 3rem;
}
.invalid {
  border: 2px dashed #90021F;
}
.valid {
  border: 2px solid #72836F;
}
button.submit{
    margin-top: 1rem;
}
button.submit:hover{
    background-color: #FFE8D6;
    border-color: #DDBEA9;
}
#myAlert{
    display: none;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border: 1px solid #033646;
    border-left: 0.5rem;
    background-color: #FFE8D6;
    width: 100%;
}
input:hover, textarea:hover{
    border-color: #FFE8D6;
    background-color: #FFE8D6;
    }
.icon-last:hover::before {
  content: "to the";
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
}
.icon-last:hover::after {
  content: "top";
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
}
*::-webkit-input-placeholder {
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}
*::-moz-placeholder {
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}
*:-ms-input-placeholder {
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}
*::-ms-input-placeholder {
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}
*::placeholder {
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}
/*--------Navigation Menu--*/
li a.link-item{
  font-family:"Nunito Sans", sans-serif;
  columns: #e9e6e6;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0;
}
a#navbarMenuLink {
  font-family:"Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  margin-top: 1rem;
  font-weight: 600;
  padding:0;
}
/*--------Landing&Background--*/
#landingPage{
    min-width:100vw;
    min-height:auto;
    position: relative;
}
#landingPage img{
    width:100%;
    height:500px;
}
.overlay{
    width:100%;
    height:100%;
    background-color: rgba(85,84,80,.5);
    z-index:1;
    position:fixed;
    margin:0;
    padding:0;
}
#homePageText{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position:relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

a.subtitle:hover,
a.subtitle:active {
  text-decoration: none;
  font-weight: 400;
  color: #FFE8D6;
  font-size: 2.5rem;
}
/*--------Footer--*/
#footer {
  padding-top: 0rem;
}
.footer-cards{
  padding: 20px;
  margin-top:150px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(100,91,84,.5);
  border-radius: .25rem;
  color:#D2D2C6;
  font-family: "Nunito Sans", sans-serif;
}
.text-primary{
  color: #6B705C;
}
.socials{
  text-align: center;
  margin-bottom:10px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration:none;
  display:inline-block;  
  font-size: 2rem;
  padding-bottom: 10px;
}
.links{
    text-align: center;
}
a {
    color: #6B705C;
}
a:hover {
    color:#D2D2C6;
    text-decoration: underline;
}
.end-copy{
    color:#D2D2C6;
    font-size: 1rem;
    text-decoration:none;
    text-align:center;
    position:relative;
    background-color:rgba(100,91,84,.5);
    padding-bottom: 10px;
}
.grey {
    color:#D2D2C6 !important;
    font-size: 4rem !important;
}
/*--------Media Queries--*/
@media (min-aspect-ratio: 16/9) {
    #myVideo {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #myVideo { 
        width:auto;
        height: 100%;
    }
}